<div class="about-container">
    <nb-card>
        <nb-card-header>
            <h1>Шановний користувач</h1>
        </nb-card-header>
        <nb-card-body>
            <p>Приготуйся до гіркої правди, бо я відкрию тобі очі на прірву, що зяє перед нами.
                Прірву, викладену не з каміння чи лави, а з... забутих справ!
                Так, я говорю про відсутність нотаток.
            </p>

            <p>
                Без нотаток ми — загублені душі в океані забуття.
                Наші думки розсипаються, як пісок крізь пальці. Наші плани тануть, як морозиво в серпні.
                Ми перетворюємося на аморфну масу, яка безцільно блукає, намагаючись згадати, навіщо вона взагалі вставала з
                ліжка.
            </p>

            <p>
                Тож беріть ручки, олівці, стікери, відкривайте додатки! Пишіть!
                Записуйте все! Кожну дрібницю! Бо тільки так ми врятуємо цей світ від забуття.
                Тільки так ми зможемо згадати, де ми припаркували машину, що обіцяли купити на вечерю і, найголовніше, що,
                дідько, взагалі відбувається!
            </p>
        </nb-card-body>
    </nb-card>
</div>
