
:host {
    /* Робимо компонент блочним, щоб до нього застосовувались width/max-width */
    display: block;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}
.actions {
    display: flex;
    gap: 10px;
}

form{
    display: contents;
}

nb-card-header{
    border-bottom: 0;
}
nb-card-header p{
    margin-block-end: 0;
}
nb-card-body{
    border-top: 1px solid #edf1f7;
}

input[nbInput],
textarea[nbInput] {
    font-weight: lighter !important;
}
