/* You can add global styles to this file, and also import other style files */

body{
    margin:0;
    padding:0;
}
.note-dialog nb-dialog-container {
    width: 500px;
    max-width: 95vw; /* Для коректного відображення на мобільних */
}
